html {height: 250%; background: linear-gradient(to left top, #444444, #b7b7b7b7);
      font-family: 'Poppins', sans-serif;
      background-repeat: no-repeat; cursor: default;}

@keyframes glow { 0% {box-shadow: 0px 0px 15px #56e999; border: solid 2px #56e999;}
                  50% {box-shadow: 0px 0px 15px cyan; border: solid 2px cyan;}
                  100% {box-shadow: 0px 0px 15px #56e999; border: solid 2px #56e999;}
}

body {margin: 0px; padding: 0px;
      background-image: url(Imagens/background.png);
      background-size: 500px;
      background-repeat: repeat-x;}

.Tema_Escuro {position: relative; top: -1653px;
              left: 10px; color: white;
              box-shadow: 0px 0px 5px white;
              border: solid 2px white;}

.Titulo {border: solid 2px #56e999;
         position: relative; 
         top: -20px; background: black;
         animation-name: glow; animation-duration: 4s; animation-delay: 1.5s; animation-iteration-count: infinite;
         color: white;}

#A1 {border: solid 2px #56e999;
     position: relative; top: 50px;
     background: black;
     color: white;
     box-shadow: 0px 0px 15px #56e999 ;
     animation-name: glow; animation-duration: 4s; animation-delay: 1.5s; animation-iteration-count: infinite;
     border-radius: 50%;}

.Inicio {position: relative; top: 50px;}

.Bolo {position: relative; top: 50px;
       height: 50%; width: 50%;}

#A2 {border: solid 2px #56e999;
     position: relative; top: 100px;
     box-shadow: 0px 0px 15px #56e999;
     color: white;
     background: black;
     animation-name: glow; animation-duration: 4s; animation-delay: 1.5s; animation-iteration-count: infinite;
     border-radius: 50%;}

.Receita {position: relative; top: 100px;}

#B1,#B2,#B3 {text-decoration: underline;}

.Final {position: relative; top: 150px;}

@media screen and (min-width: 528px){
  html {height: 525%;}
  .Tema_Escuro {top: -1585px;}
}

@media screen and (min-width: 1000px){
  html {height: 300%;}
  .Tema_Escuro {top: -1650px; background: black;}
}